{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="container mt-10 mb-5">
  <h1>Mon Panier</h1>
  {% if cartElements | length %}
  <div class="border rounded-10 mt-5 mb-3 px-3 pt-3">
    <div class="row border-bottom pb-3">
      <div class="col-6">Article(s)</div>
      <div class="col">Prix</div>
      <div class="col">Quantité</div>
      <div class="col">Total</div>
      <!-- <div class="col">Actions</div> -->
    </div>
    {% for cartElement in cartElements %}
    <div class="row py-4">
      <div class="col-6 d-flex">
        <div class="mr-3">
          <img src="{{ vich_uploader_asset(cartElement.product)}}" alt="" style="width: 116px; objectif-fit:contain">
        </div>
        <div class="d-flex flex-column justify-content-between">
          <div>
            {{cartElement.product.name}}
          </div>
          <div>
            <a href="{{path('app_cart_delete',{id:cartElement.product.id})}}"
              class="btn btn-outline-danger btn-sm">Effacer</a>
          </div>
        </div>
      </div>
      <div class="col">{{cartElement.product.price}}€</div>
      <div class="col">
        <div class="btn-group align-items-start" role="group" aria-label="Basic example">
          <a href="{{path('app_cart_remove',{id:cartElement.product.id})}}" class="btn btn-outline-dark btn-sm">-</a>
          <p class="btn btn-outline-dark btn-sm disabled">{{cartElement.quantity}}</p>
          <a href="{{path('app_cart_add',{id:cartElement.product.id})}}" class="btn btn-outline-dark btn-sm">+</a>
        </div>
      </div>
      <div class="col">{{cartElement.product.price * cartElement.quantity}}€</div>
    </div>
{% endfor %}
</div>
<div class="d-flex justify-content-end align-items-end gap-4 mt-5">
  <p class="mr-3">Prix total :
    {{app.user.currentCart.totalPrice}}€
  </p>
  <a href="{{ path('app_purchase_pay') }}" class="btnc btnc-light px-5">Payer</a>
</div>


{% else %}
<div class="mt-5 text-center d-flex flex-column justify-content-center" style="min-height: 55vh;">
  <h3 class="">
    Votre pannier est vide.
  </h3>
  <p class="mt-5">
    <a class="btnc btnc-light" href="{{ path( 'product') }}">Ajouter des livres</a>  
  </p>
</div>
{% endif %}
</div>

{% endblock %}