{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

  <div class="example-wrapper">
    <h1>Votre Panier</h1>
    {% if cartElements | length %}
        <table class="table table-hover table-light table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">Produit</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">total</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cartElement in cartElements %}
          <tr class="">
            <th>{{cartElement.product.name}}</th>
            <td>{{cartElement.product.price}}€</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{path('app_cart_add',{id:cartElement.product.id})}}" class="btn btn-outline-light btn-sm">+</a>
                    <p class="btn btn-outline-light btn-sm">{{cartElement.quantity}}</p>
                    <a href="{{path('app_cart_remove',{id:cartElement.product.id})}}" class="btn btn-outline-light btn-sm">-</a>
                </div>
               
            </td>
            <td>{{cartElement.product.price * cartElement.quantity}}€</td>
            <td>
              <a href="{{path('app_cart_delete',{id:cartElement.product.id})}}" class="btn btn-outline-danger btn-sm">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-end gap-4 mt-5">
        <p>Prix total : {{app.user.cart.totalPrice}}€</p>
        <a href="#" class="btn btn-outline-primary">Payer</a>
    </div>
    {% else %}
    <div>Votre pannier est vide</div>
    {% endif %}
  </div>
{% endblock %}
