{% extends 'admin.base.html.twig' %}

{% block title %}Produits{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <div class="pt-5">
    <h1>Ajouter un nouveau produit</h1>
    {{ form_start(form)}}
    <div class="d-flex flex-column">
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form_row( form.name, {'attr': 
          {
            'placeholder': 'Nom du livre',
          }}) }}
        </div>
        <div class="form-group col-md-6">
          {{ form_row( form.description, {'attr': 
            {
              'placeholder': 'Description du livre',
            }}) }}
        </div>
      </div>
     
        {{ form_row( form.stock) }}
        {{ form_row( form.price) }}
        {{ form_row( form.categories) }}
          {{ form_row( form.imageFile) }}
        <button class="btn btn-outline-primary my-3 align-self-end">
        {{ button_label|default('Ajouter') }}
        </button>
    </div>
        
    {{ form_end(form)}}
  </div>
{% endblock %}