{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/scripts.js') }}" defer></script>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container section">
    <h1 class="mt-10 text-center text-uppercase">Tous les livres</h1>
    <div class="mt-5 mb-5 d-flex justify-content-between">
        <div class="text-bold">{{products | length}} Livres</div>
        <div class="btnc btnc-light" id="btn-product-filter">
            Filtrer
        </div>
    </div>
    <div class="products-container">
        {{ include('product/_products.html.twig') }}
    </div>

     {{ include('_pagination.html.twig') }}

    <div class="" id="nav-product-filter">
        <div class="nav-close mb-4">
            &#x2715
        </div>
        {{ form_start(form) }}

        <div>
            {{ form_row(form.qName, {attr: {placeholder: 'Nom du livre'}}) }}
        </div>
        <div>
            {{ form_row(form.qDescription, {attr: {placeholder: 'Description du livre'}}) }}
        </div>
        <div>
            {{ form_row(form.min) }}
        </div>
        <div>
            {{ form_row(form.max) }}
        </div>
        <div>
            Catégories :
            <div class="ml-3 mt-1">
                {{ form_row(form.categories) }}
            </div>
        </div>
        <button type="submit" class="btnc btnc-light mt-3 mb-5 w-100">Filtrer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}