{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="p-3">
        <a href="{{ path('product') }}" class="btn btn-outline-info">
           <i class="bi bi-arrow-left-square"></i>
        </a>
    </div>
    <div>
        <article class="d-flex flex-row mb-3">
            <div>            
                <img style="width: 500px; height: 500px; object-fit: contain; background-color: #cbd6e4;"  
                    src="{{ vich_uploader_asset(product)}}"
                    alt="">
            </div>
            <div class="p-4 d-flex flex-column align-items-start">
                <h1>{{product.name}}</h1>
                <p><b>{{product.price}} € </b>/ En stock : {{product.stock}}</p>
                <p>{{product.description}}</p>
                <a href="{{path('app_cart_add', {id:product.id})}}" class="btn btn-success d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart-plus"></i>
                </a>

            </div>
        </article>
    </div>
</div>
</div>
{% endblock %}
